@import url("bootstrap");
@import url("bootstrap-icons");


.main-top {
  .container {
    min-height: 20vh;
  }
}

.jumbotron {
  background-image: url(./assets/img/jumbotron.jpg);
  background-size: cover;
  background-position: top;
  height: 350px;
  position: relative;

  .series {
    width: 200px;
    position: absolute;
    top: 95%;
    left: 100px;
  }

}

.card-img-top {
  width: 200px;
  height: 200px;
}

.img-comics {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.bg-primary {
  .container {
    min-height: 30vh;

    img {
      width: 50px;
      margin-right: 5px;
    }
  }

}

footer {
  background-image: url(../src/assets/img/footer-bg.jpg);
}

.footer-bottom {
  padding: 25px;
}

.col-6 {
  background-image: url(../src/assets/img/dc-logo-bg.png);
  background-position: center;
  background-size: cover;
}

.butn {
  background-color: transparent;
  padding: 10px;
  border: 2px solid rgba(13, 110, 253, 1);

  a {
    text-decoration: none;
    color: white;

  }
}