@import url("bootstrap");
@import url("bootstrap-icons");


.main-top {
  .container {
    min-height: 20vh;
  }
}

.card-img-top {
  height: 166px;
  overflow: hidden
}

.img-comics {
  max-width: 100%;
  height: auto;
}

.bg-primary {
  .container {
    min-height: 30vh;

    img {
      width: 50px;
      margin-right: 5px;
    }
  }

}

footer {
  background-image: url(../src/assets/img/footer-bg.jpg);
}

.footer-bottom {
  padding: 25px;
}

.col-6 {
  background-image: url(../src/assets/img/dc-logo-bg.png);
  background-position: center;
  background-size: cover;
}

.butn {
  background-color: transparent;
  padding: 10px;
  border: 2px solid rgba(13, 110, 253, 1);

  a {
    text-decoration: none;
    color: white;

  }
}